<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Vue.js @3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- TailwindCSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="all.js"></script>
</head>

<body>
  <h1>分頁功能</h1>
  <!-- <section id="vueApp">
    <div class="p-10">
      <p v-for="i in array">{{i}}</p>
      <div class="flex gap-4">
        <button class="btn bg-red-200 p-2">prev</button>
        <p>1</p>
        <button class="btn bg-red-200 p-2" @click="next()">next</button>
      </div>

      <div>
        <h2>假設，每頁 2 筆</h2>
      </div>
    </div>

  </section> -->
  <div id="vueApp">
    <div>
      <ul>
        <li v-for="item in paginatedItems" :key="item.name">{{ item.name }}</li>
      </ul>

      <button class="btn bg-red-200 p-2" @click="prev" :disabled="currentPage <= 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn bg-red-200 p-2" @click=" next" :disabled="currentPage >= totalPages">Next</button>
    </div>
  </div>


</body>

</html>