<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 編譯後的 CSS -->
  <link href="dist/style.css" rel="stylesheet">
  <!-- Vue.js @3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <section id="vueApp" class="container mx-auto p-10">
    <h1>分頁功能</h1>
    <div>
      <ul>
        <li v-for="item in paginatedItems" :key="item.name">{{ item.name }}</li>
      </ul>
    </div>
    <!-- 分頁 DaisyUI -->
    <div>
      <div>第{{ currentPage }}頁 (總共{{ totalPages }}頁)</div>
      <div class="join">
        <button class="join-item btn btn-outline" @click="prev" :disabled="currentPage <= 1">
          < </button>
            <input type="radio" v-for="i in totalPages" :key="i" class="join-item btn btn-square" name="options"
              :value="`${i}`" v-model=" selectedOption" @click="updatePage(i)" :aria-label="i"
              :checked="currentPage == i" />
            <button class="join-item btn btn-outline" @click="next" :disabled="currentPage >= totalPages">></button>
      </div>
    </div>

    <div class="divider"></div>

  </section>
  <script src="src/js/all.js"></script>
</body>

</html>